.calculator {
  text-align: center;
}
.result {
  font-size: 24px;
  margin: auto;
  width: 600px;
  border: solid #555555;
}

button {
  width: 98px;
  height: 80px;
  background-color: #555555;
  color: whitesmoke;
  font-size: 24px;

  margin: 2px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: whitesmoke; /* Green */
  color: #555555;
}
